* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: normal;
}

#events {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#events div {
  display: flex;
  flex-direction: column;
  gap: 1rem 2px;
  color: orange;
  background-color: brown;
  border-radius: 1rem;
  padding: 1rem;
}

h2 {
  padding: none;
}
